extends layout

block content
  
  .container-fluid
    .row
    a.btn.btn-primary.btn-large.mb-5.mt-5(href="/products/new") Add new Product
    .row
      each product in products
        .col-4.text-center
          .card.text-white.bg-primary.mb-3
            .card-header(style='font-size: 15px')= product.name
            .card-body
              p.card-text Manufacturer: #{product.manufacturer}
              p.card-text Price:  #{product.price} $
              - updateUrl = `products/${product.id}`
              a.btn.btn-success.btn-large.mr-5(href=updateUrl) Update
              - deleteUrl = `products/delete/${product.id}`
              a.btn.btn-danger.btn-large(href=deleteUrl) Delete
