extends layout

block content
  h2 Update an existing product
  - actionURL = `/products/${product.id}`
  form.form(action=actionURL, method="POST")
    .form-group
      label Name
      input.form-control(name="name" value=product.name)
    .form-group
      label Manufacturer
      input.form-control(name="manufacturer" value=product.manufacturer)
    .form-group
      label Price
      input.form-control(name="price" value=product.price)
    .form-group
      label Stock
      input.form-control(name="stock" value=product.stock)
    button.btn.btn-primary.mr-5(type="submit") Update
    button.btn.btn-info(href='/products') Cancel

